In [1]:
import pandas as pd
import numpy as np

In [29]:
raw_test_set = [
    "Taipei Taiwan",
    "Macao Taiwan Shanghai",
    "Japan Sapporo",
    "Sapporo Osaka Taiwan"
]

test_set = pd.DataFrame({
    "Document": map(lambda x : x.split(), raw_test_set),
    "Is in c = China?": [1, 1, 0, 0]
})

test_set

                    Document  Is in c = China?
0           [Taipei, Taiwan]                 1
1  [Macao, Taiwan, Shanghai]                 1
2           [Japan, Sapporo]                 0
3   [Sapporo, Osaka, Taiwan]                 0

In [25]:
s = pd.Series(raw_test_set[1])
s.iloc[0]

'Macao Taiwan Shanghai'